<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.loicsander.scaleFast</key>
	<dict>
		<key>guides</key>
		<array>
		</array>
		<key>presets</key>
		<dict>
		</dict>
	</dict>
	<key>com.typemytype.robofont.Background.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.75</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.binarySource</key>
	<string>/Users/x2/Downloads/ziroli/fonts/Jeremy_2010/Ziroli6.otf</string>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/x2/Documents/STUDIO/39-Ziroli/GIT/ZiroliWes-Light1.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>33</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>306</integer>
			<key>y</key>
			<integer>619</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>194</integer>
			<key>y</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>25</integer>
			<key>y</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>335</integer>
			<key>y</key>
			<integer>464</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>194</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>684</integer>
			<key>y</key>
			<integer>666</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>683</integer>
			<key>y</key>
			<integer>680</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>690</integer>
			<key>y</key>
			<integer>672</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>191</integer>
			<key>y</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>279</integer>
			<key>y</key>
			<integer>-24</integer>
		</dict>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>Background</string>
		<string>midground</string>
	</array>
	<key>com.typemytype.robofont.midground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>1.0</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>C</string>
				<string>A</string>
				<string>E</string>
				<string>R</string>
				<string>T</string>
				<string>H</string>
				<string>I</string>
				<string>N</string>
				<string>O</string>
				<string>G</string>
				<string>U</string>
				<string>P</string>
				<string>M</string>
				<string>V</string>
				<string>L</string>
				<string>Y</string>
				<string>one</string>
				<string>two</string>
				<string>zero</string>
				<string>three</string>
				<string>six</string>
				<string>nine</string>
				<string>seven</string>
				<string>period</string>
				<string>comma</string>
				<string>space</string>
				<string>S</string>
				<string>O.001</string>
				<string>O.002</string>
				<string>C.001</string>
				<string>four</string>
				<string>B</string>
				<string>D</string>
				<string>F</string>
				<string>K</string>
				<string>J</string>
				<string>Q</string>
				<string>W</string>
				<string>X</string>
				<string>Z</string>
				<string>CapVertStem2</string>
				<string>CapVertStroke</string>
				<string>K.001</string>
				<string>K.002</string>
				<string>J.001</string>
				<string>A.001</string>
				<string>I.Bottom</string>
				<string>I.Top</string>
				<string>I.Top.Major</string>
				<string>I.Bottom.Major</string>
				<string>I.Bottom.Minor</string>
				<string>I.Top.Minor</string>
				<string>R.001</string>
				<string>Asterisk</string>
				<string>eight</string>
				<string>M.001</string>
				<string>S.001</string>
				<string>five</string>
				<string>plusminus</string>
				<string>aring</string>
				<string>lexclam</string>
				<string>ograve</string>
				<string>dollar</string>
				<string>Ntilde</string>
				<string>Yacute</string>
				<string>tilde</string>
				<string>ccedilla</string>
				<string>quoteright</string>
				<string>less</string>
				<string>onequarter</string>
				<string>edieresis</string>
				<string>ampersand</string>
				<string>hyphen</string>
				<string>oslash</string>
				<string>guillemotright</string>
				<string>ecircumflex</string>
				<string>greater</string>
				<string>underscore</string>
				<string>Idieresis</string>
				<string>cedilla</string>
				<string>Udieresis</string>
				<string>acute</string>
				<string>bar</string>
				<string>d</string>
				<string>h</string>
				<string>ydieresis</string>
				<string>Igrave</string>
				<string>p</string>
				<string>twosuperior</string>
				<string>t</string>
				<string>x</string>
				<string>exclamdown</string>
				<string>parenright</string>
				<string>ordfeminine</string>
				<string>Atilde</string>
				<string>Otilde</string>
				<string>Ocircumflex</string>
				<string>logicalnot</string>
				<string>agrave</string>
				<string>adieresis</string>
				<string>dotlessi</string>
				<string>braceleft</string>
				<string>egrave</string>
				<string>Adieresis</string>
				<string>Odieresis</string>
				<string>section</string>
				<string>macron</string>
				<string>Icircumflex</string>
				<string>ntilde</string>
				<string>r</string>
				<string>ucircumflex</string>
				<string>slash</string>
				<string>atilde</string>
				<string>Acircumflex</string>
				<string>numbersign</string>
				<string>dotaccent</string>
				<string>Oslash</string>
				<string>odieresis</string>
				<string>asterisk</string>
				<string>Eacute</string>
				<string>acircumflex</string>
				<string>c</string>
				<string>z</string>
				<string>copyright</string>
				<string>g</string>
				<string>k</string>
				<string>equal</string>
				<string>o</string>
				<string>Edieresis</string>
				<string>s</string>
				<string>plus</string>
				<string>w</string>
				<string>eth</string>
				<string>degree</string>
				<string>udieresis</string>
				<string>Egrave</string>
				<string>divide</string>
				<string>ocircumflex</string>
				<string>igrave</string>
				<string>caron</string>
				<string>asciitilde</string>
				<string>colon</string>
				<string>ring</string>
				<string>hungarumlaut</string>
				<string>parenleft</string>
				<string>Ecircumflex</string>
				<string>question</string>
				<string>Aacute</string>
				<string>cent</string>
				<string>quoteleft</string>
				<string>otilde</string>
				<string>iacute</string>
				<string>registered</string>
				<string>Aring</string>
				<string>dieresis</string>
				<string>bracketleft</string>
				<string>breve</string>
				<string>asciicircum</string>
				<string>Oacute</string>
				<string>b</string>
				<string>guillemotleft</string>
				<string>f</string>
				<string>ordmasculine</string>
				<string>j</string>
				<string>n</string>
				<string>mu</string>
				<string>paragraph</string>
				<string>circumflex</string>
				<string>v</string>
				<string>Ccedilla</string>
				<string>idieresis</string>
				<string>minus</string>
				<string>braceright</string>
				<string>ae</string>
				<string>semicolon</string>
				<string>brokenbar</string>
				<string>backslash</string>
				<string>currency</string>
				<string>ugrave</string>
				<string>Ucircumflex</string>
				<string>at</string>
				<string>Iacute</string>
				<string>periodcentered</string>
				<string>Uacute</string>
				<string>percent</string>
				<string>Ugrave</string>
				<string>threequarters</string>
				<string>yacute</string>
				<string>uacute</string>
				<string>yen</string>
				<string>bracketright</string>
				<string>sterling</string>
				<string>quotedbl</string>
				<string>AE</string>
				<string>Agrave</string>
				<string>onehalf</string>
				<string>Thorn</string>
				<string>aacute</string>
				<string>icircumflex</string>
				<string>multiply</string>
				<string>eacute</string>
				<string>Eth</string>
				<string>grave</string>
				<string>germandbls</string>
				<string>a</string>
				<string>e</string>
				<string>onesuperior</string>
				<string>i</string>
				<string>threesuperior</string>
				<string>thorn</string>
				<string>ogonek</string>
				<string>m</string>
				<string>q</string>
				<string>Ograve</string>
				<string>u</string>
				<string>y</string>
				<string>questiondown</string>
				<string>oacute</string>
				<string>Q.001</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>com.typesupply.MetricsMachine4.groupColors</key>
	<dict>
		<key>@MMK_L_E</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_H</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_O</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_V</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_A</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_H</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_O</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_V</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
	</dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>C</string>
		<string>A</string>
		<string>E</string>
		<string>R</string>
		<string>T</string>
		<string>H</string>
		<string>I</string>
		<string>N</string>
		<string>O</string>
		<string>G</string>
		<string>U</string>
		<string>P</string>
		<string>M</string>
		<string>V</string>
		<string>L</string>
		<string>Y</string>
		<string>one</string>
		<string>two</string>
		<string>zero</string>
		<string>three</string>
		<string>six</string>
		<string>nine</string>
		<string>seven</string>
		<string>period</string>
		<string>comma</string>
		<string>space</string>
		<string>S</string>
		<string>O.001</string>
		<string>O.002</string>
		<string>C.001</string>
		<string>four</string>
		<string>B</string>
		<string>D</string>
		<string>F</string>
		<string>K</string>
		<string>J</string>
		<string>Q</string>
		<string>W</string>
		<string>X</string>
		<string>Z</string>
		<string>CapVertStem2</string>
		<string>CapVertStroke</string>
		<string>K.001</string>
		<string>K.002</string>
		<string>J.001</string>
		<string>A.001</string>
		<string>I.Bottom</string>
		<string>I.Top</string>
		<string>I.Top.Major</string>
		<string>I.Bottom.Major</string>
		<string>I.Bottom.Minor</string>
		<string>I.Top.Minor</string>
		<string>R.001</string>
		<string>Asterisk</string>
		<string>eight</string>
		<string>M.001</string>
		<string>S.001</string>
		<string>five</string>
		<string>plusminus</string>
		<string>aring</string>
		<string>lexclam</string>
		<string>ograve</string>
		<string>dollar</string>
		<string>Ntilde</string>
		<string>Yacute</string>
		<string>tilde</string>
		<string>ccedilla</string>
		<string>quoteright</string>
		<string>less</string>
		<string>onequarter</string>
		<string>edieresis</string>
		<string>ampersand</string>
		<string>hyphen</string>
		<string>oslash</string>
		<string>guillemotright</string>
		<string>ecircumflex</string>
		<string>greater</string>
		<string>underscore</string>
		<string>Idieresis</string>
		<string>cedilla</string>
		<string>Udieresis</string>
		<string>acute</string>
		<string>bar</string>
		<string>d</string>
		<string>h</string>
		<string>ydieresis</string>
		<string>Igrave</string>
		<string>p</string>
		<string>twosuperior</string>
		<string>t</string>
		<string>x</string>
		<string>exclamdown</string>
		<string>parenright</string>
		<string>ordfeminine</string>
		<string>Atilde</string>
		<string>Otilde</string>
		<string>Ocircumflex</string>
		<string>logicalnot</string>
		<string>agrave</string>
		<string>adieresis</string>
		<string>dotlessi</string>
		<string>braceleft</string>
		<string>egrave</string>
		<string>Adieresis</string>
		<string>Odieresis</string>
		<string>section</string>
		<string>macron</string>
		<string>Icircumflex</string>
		<string>ntilde</string>
		<string>r</string>
		<string>ucircumflex</string>
		<string>slash</string>
		<string>atilde</string>
		<string>Acircumflex</string>
		<string>numbersign</string>
		<string>dotaccent</string>
		<string>Oslash</string>
		<string>odieresis</string>
		<string>asterisk</string>
		<string>Eacute</string>
		<string>acircumflex</string>
		<string>c</string>
		<string>z</string>
		<string>copyright</string>
		<string>g</string>
		<string>k</string>
		<string>equal</string>
		<string>o</string>
		<string>Edieresis</string>
		<string>s</string>
		<string>plus</string>
		<string>w</string>
		<string>eth</string>
		<string>degree</string>
		<string>udieresis</string>
		<string>Egrave</string>
		<string>divide</string>
		<string>ocircumflex</string>
		<string>igrave</string>
		<string>caron</string>
		<string>asciitilde</string>
		<string>colon</string>
		<string>ring</string>
		<string>hungarumlaut</string>
		<string>parenleft</string>
		<string>Ecircumflex</string>
		<string>question</string>
		<string>Aacute</string>
		<string>cent</string>
		<string>quoteleft</string>
		<string>otilde</string>
		<string>iacute</string>
		<string>registered</string>
		<string>Aring</string>
		<string>dieresis</string>
		<string>bracketleft</string>
		<string>breve</string>
		<string>asciicircum</string>
		<string>Oacute</string>
		<string>b</string>
		<string>guillemotleft</string>
		<string>f</string>
		<string>ordmasculine</string>
		<string>j</string>
		<string>n</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>circumflex</string>
		<string>v</string>
		<string>Ccedilla</string>
		<string>idieresis</string>
		<string>minus</string>
		<string>braceright</string>
		<string>ae</string>
		<string>semicolon</string>
		<string>brokenbar</string>
		<string>backslash</string>
		<string>currency</string>
		<string>ugrave</string>
		<string>Ucircumflex</string>
		<string>at</string>
		<string>Iacute</string>
		<string>periodcentered</string>
		<string>Uacute</string>
		<string>percent</string>
		<string>Ugrave</string>
		<string>threequarters</string>
		<string>yacute</string>
		<string>uacute</string>
		<string>yen</string>
		<string>bracketright</string>
		<string>sterling</string>
		<string>quotedbl</string>
		<string>AE</string>
		<string>Agrave</string>
		<string>onehalf</string>
		<string>Thorn</string>
		<string>aacute</string>
		<string>icircumflex</string>
		<string>multiply</string>
		<string>eacute</string>
		<string>Eth</string>
		<string>grave</string>
		<string>germandbls</string>
		<string>a</string>
		<string>e</string>
		<string>onesuperior</string>
		<string>i</string>
		<string>threesuperior</string>
		<string>thorn</string>
		<string>ogonek</string>
		<string>m</string>
		<string>q</string>
		<string>Ograve</string>
		<string>u</string>
		<string>y</string>
		<string>questiondown</string>
		<string>oacute</string>
		<string>Q.001</string>
	</array>
</dict>
</plist>
