<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>C</string>
		<string>A</string>
		<string>A.001</string>
		<string>E</string>
		<string>R</string>
		<string>R.001</string>
		<string>T</string>
		<string>H</string>
		<string>H.001</string>
		<string>I</string>
		<string>O</string>
		<string>O.001</string>
		<string>G</string>
		<string>G.001</string>
		<string>U</string>
		<string>P</string>
		<string>M</string>
		<string>M.001</string>
		<string>N</string>
		<string>N.001</string>
		<string>V</string>
		<string>L</string>
		<string>Y</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero</string>
		<string>period</string>
		<string>comma</string>
		<string>space</string>
		<string>S</string>
		<string>B</string>
		<string>D</string>
		<string>D.001</string>
		<string>F</string>
		<string>K</string>
		<string>K.001</string>
		<string>J</string>
		<string>J.001</string>
		<string>Q</string>
		<string>Q.001</string>
		<string>W</string>
		<string>X</string>
		<string>Z</string>
		<string>CapVertStem2</string>
		<string>CapVertStroke</string>
		<string>K.002</string>
		<string>I.Bottom</string>
		<string>I.Top</string>
		<string>I.Top.Major</string>
		<string>I.Bottom.Major</string>
		<string>I.Bottom.Minor</string>
		<string>I.Top.Minor</string>
		<string>S.001</string>
		<string>dollar</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>parenleft</string>
		<string>question</string>
		<string>ampersand,</string>
		<string>at</string>
		<string>dagger</string>
		<string>quotesingle</string>
		<string>slash</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>equal</string>
		<string>plus</string>
		<string>daggerdbl</string>
		<string>plusminus</string>
		<string>less</string>
		<string>greater</string>
		<string>quotedblright</string>
		<string>underscore</string>
		<string>bar</string>
		<string>minus</string>
		<string>hyphen</string>
		<string>emdash</string>
		<string>endash</string>
		<string>braceleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>degree</string>
		<string>quoteleft</string>
		<string>divide</string>
		<string>cent</string>
		<string>bracketleft</string>
		<string>braceright</string>
		<string>brokenbar</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>infinity</string>
		<string>bullet</string>
		<string>lozenge</string>
		<string>colon</string>
		<string>semicolon</string>
	</array>
</dict>
</plist>
