<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.001</key>
	<string>A_.001.glif</string>
	<key>Asterisk</key>
	<string>Asterisk_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.001</key>
	<string>C_.001.glif</string>
	<key>CapVertStem2</key>
	<string>CapVertStem2_.glif</string>
	<key>CapVertStroke</key>
	<string>CapVertStroke_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.Bottom</key>
	<string>I_.Bottom_.glif</string>
	<key>I.Bottom.Major</key>
	<string>I_.Bottom_.Major_.glif</string>
	<key>I.Bottom.Minor</key>
	<string>I_.Bottom_.Minor_.glif</string>
	<key>I.Top</key>
	<string>I_.Top_.glif</string>
	<key>I.Top.Major</key>
	<string>I_.Top_.Major_.glif</string>
	<key>I.Top.Minor</key>
	<string>I_.Top_.Minor_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.001</key>
	<string>J_.001.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.001</key>
	<string>K_.001.glif</string>
	<key>K.002</key>
	<string>K_.002.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.001</key>
	<string>M_.001.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.001</key>
	<string>O_.001.glif</string>
	<key>O.002</key>
	<string>O_.002.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.001</key>
	<string>Q_.001.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.001</key>
	<string>R_.001.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.001</key>
	<string>S_.001.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
