<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.mtrx_R_H</key>
	<array>
		<string>I</string>
		<string>H</string>
		<string>H</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E.001</string>
		<string>F</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>N</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>O</string>
		<string>O</string>
		<string>O.002</string>
		<string>Q</string>
		<string>Q</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>W</string>
		<string>V</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E.001</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>K</string>
		<string>K.001</string>
		<string>K.002</string>
		<string>L</string>
		<string>P</string>
		<string>R</string>
		<string>R.001</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>G.001</string>
		<string>O</string>
		<string>O</string>
		<string>O.002</string>
		<string>Q</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
</dict>
</plist>
