<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.loicsander.scaleFast</key>
	<dict>
		<key>guides</key>
		<array>
		</array>
		<key>presets</key>
		<dict>
		</dict>
	</dict>
	<key>com.typemytype.robofont.Background.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.75</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.binarySource</key>
	<string>/Users/x2/Downloads/ziroli/fonts/Jeremy_2010/Ziroli6.otf</string>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/x2/Documents/STUDIO/39-Ziroli/GIT/ZiroliWes-Regular-Wide.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>33</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>306</integer>
			<key>y</key>
			<integer>619</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>194</integer>
			<key>y</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>25</integer>
			<key>y</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>503</integer>
			<key>y</key>
			<integer>475</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>541</integer>
			<key>y</key>
			<integer>180</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>684</integer>
			<key>y</key>
			<integer>666</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>683</integer>
			<key>y</key>
			<integer>680</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>690</integer>
			<key>y</key>
			<integer>672</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>191</integer>
			<key>y</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>279</integer>
			<key>y</key>
			<integer>-24</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>367</integer>
			<key>y</key>
			<integer>702</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>370</integer>
			<key>y</key>
			<integer>-27</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>77</integer>
			<key>y</key>
			<integer>-239</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>596</integer>
			<key>y</key>
			<integer>704</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>652</integer>
			<key>y</key>
			<integer>184</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>434</integer>
			<key>y</key>
			<integer>485</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>208</integer>
			<key>y</key>
			<integer>516</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>608</integer>
			<key>y</key>
			<integer>206</integer>
		</dict>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>Background</string>
		<string>midground</string>
		<string>background</string>
	</array>
	<key>com.typemytype.robofont.midground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>1.0</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>A</string>
				<string>A.001</string>
				<string>B</string>
				<string>C.copy_1</string>
				<string>E</string>
				<string>E.001</string>
				<string>F</string>
				<string>F.001</string>
				<string>G</string>
				<string>G.001</string>
				<string>I</string>
				<string>J</string>
				<string>J.001</string>
				<string>K</string>
				<string>K.001</string>
				<string>L</string>
				<string>P</string>
				<string>R</string>
				<string>R.001</string>
				<string>S</string>
				<string>T</string>
				<string>T.copy_1</string>
				<string>X</string>
				<string>Y</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>zero</string>
				<string>period</string>
				<string>comma</string>
				<string>space</string>
				<string>S.001</string>
				<string>dollar</string>
				<string>parenright</string>
				<string>asterisk</string>
				<string>parenleft</string>
				<string>ampersand,</string>
				<string>at</string>
				<string>dagger</string>
				<string>quotesingle</string>
				<string>slash</string>
				<string>numbersign</string>
				<string>percent</string>
				<string>plus</string>
				<string>daggerdbl</string>
				<string>plusminus</string>
				<string>less</string>
				<string>greater</string>
				<string>quotedblright</string>
				<string>braceleft</string>
				<string>bar</string>
				<string>braceright</string>
				<string>quoteright</string>
				<string>quotedblleft</string>
				<string>degree</string>
				<string>quoteleft</string>
				<string>divide</string>
				<string>equal</string>
				<string>underscore</string>
				<string>minus</string>
				<string>hyphen</string>
				<string>emdash</string>
				<string>endash</string>
				<string>cent</string>
				<string>bracketleft</string>
				<string>brokenbar</string>
				<string>backslash</string>
				<string>bracketright</string>
				<string>infinity</string>
				<string>bullet</string>
				<string>lozenge</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>space.002</string>
				<string>question</string>
				<string>exclam</string>
				<string>D</string>
				<string>H</string>
				<string>O</string>
				<string>W</string>
				<string>U</string>
				<string>N</string>
				<string>V</string>
				<string>Z</string>
				<string>M</string>
				<string>Q</string>
				<string>C</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>com.typesupply.MetricsMachine4.groupColors</key>
	<dict>
		<key>@MMK_L_E</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_H</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_O</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_V</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_A</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_H</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_O</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_V</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
	</dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>A</string>
		<string>A.001</string>
		<string>B</string>
		<string>C.copy_1</string>
		<string>E</string>
		<string>E.001</string>
		<string>F</string>
		<string>F.001</string>
		<string>G</string>
		<string>G.001</string>
		<string>I</string>
		<string>J</string>
		<string>J.001</string>
		<string>K</string>
		<string>K.001</string>
		<string>L</string>
		<string>P</string>
		<string>R</string>
		<string>R.001</string>
		<string>S</string>
		<string>T</string>
		<string>T.copy_1</string>
		<string>X</string>
		<string>Y</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero</string>
		<string>period</string>
		<string>comma</string>
		<string>space</string>
		<string>S.001</string>
		<string>dollar</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>parenleft</string>
		<string>ampersand,</string>
		<string>at</string>
		<string>dagger</string>
		<string>quotesingle</string>
		<string>slash</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>plus</string>
		<string>daggerdbl</string>
		<string>plusminus</string>
		<string>less</string>
		<string>greater</string>
		<string>quotedblright</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>degree</string>
		<string>quoteleft</string>
		<string>divide</string>
		<string>equal</string>
		<string>underscore</string>
		<string>minus</string>
		<string>hyphen</string>
		<string>emdash</string>
		<string>endash</string>
		<string>cent</string>
		<string>bracketleft</string>
		<string>brokenbar</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>infinity</string>
		<string>bullet</string>
		<string>lozenge</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>space.002</string>
		<string>question</string>
		<string>exclam</string>
		<string>D</string>
		<string>H</string>
		<string>O</string>
		<string>W</string>
		<string>U</string>
		<string>N</string>
		<string>V</string>
		<string>Z</string>
		<string>M</string>
		<string>Q</string>
	</array>
</dict>
</plist>
