<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.mtrx_R_H</key>
	<array>
		<string>I</string>
		<string>H.002</string>
		<string>H.001</string>
	</array>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>A.001</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>C.001</string>
		<string>C.002</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E.001</string>
		<string>E</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
		<string>F.001</string>
		<string>P</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G.001</string>
		<string>G.002</string>
		<string>G</string>
		<string>G.005</string>
		<string>G.004</string>
		<string>G.003</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H.002</string>
		<string>N.002</string>
		<string>I</string>
		<string>N.001</string>
		<string>N</string>
		<string>H</string>
		<string>H.001</string>
	</array>
	<key>@MMK_L_M</key>
	<array>
		<string>M.001</string>
		<string>M</string>
		<string>M.002</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D.002</string>
		<string>O.002</string>
		<string>O.001</string>
		<string>Q.002</string>
		<string>Q.001</string>
		<string>D.001</string>
		<string>D</string>
		<string>O</string>
		<string>Q</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>U.001</string>
		<string>J.001</string>
		<string>U.002</string>
		<string>J</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V.002</string>
		<string>V</string>
		<string>V.001</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
		<string>W.001</string>
		<string>W.002</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Z.001</string>
		<string>Z.002</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>A.001</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>B</string>
		<string>D.002</string>
		<string>E.001</string>
		<string>F</string>
		<string>H.002</string>
		<string>I</string>
		<string>K</string>
		<string>K.001</string>
		<string>L</string>
		<string>P</string>
		<string>R</string>
		<string>R.001</string>
		<string>D</string>
		<string>E</string>
		<string>H</string>
		<string>N</string>
		<string>H.001</string>
		<string>F.001</string>
		<string>N.002</string>
		<string>N.001</string>
		<string>D.001</string>
	</array>
	<key>@MMK_R_M</key>
	<array>
		<string>M.001</string>
		<string>M</string>
		<string>M.002</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C.002</string>
		<string>G.005</string>
		<string>O.002</string>
		<string>O.001</string>
		<string>Q.002</string>
		<string>Q.001</string>
		<string>O</string>
		<string>Q</string>
		<string>C.001</string>
		<string>G.001</string>
		<string>G.002</string>
		<string>G.004</string>
		<string>G.003</string>
		<string>C</string>
		<string>G</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U.002</string>
		<string>U.001</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V.002</string>
		<string>V</string>
		<string>V.001</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W.002</string>
		<string>W</string>
		<string>W.001</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Z.001</string>
		<string>Z.002</string>
	</array>
</dict>
</plist>
